.table {
    margin-top: 20px;
}

.table__body {
    overflow: scroll;
    height: 400px;
    background-color: white;
    color: #6a5d5d;
}

.table__body tr {
    display: flex;
    justify-content: space-between;
}
.table__body td {
    padding: 0.5rem;
}
.table__body tr:nth-of-type(odd){
    background-color: #f3f2f8;
}